client
dev tun
proto {proto}
remote {server} {port}
remote-cert-tls server
auth SHA256
pull
data-ciphers AES-256-GCM
persist-key
persist-tun
nobind
verb 3

<ca>
{ca_pem}
</ca>

<cert>
{cert_pem}
</cert>

<key>
{key_pem}
</key>

<tls-crypt-v2>
{tls_crypt_pem}
</tls-crypt-v2>